.tracklist {
    overflow: auto;
    border-left: 1px solid;
    height: 100%;
    max-width: 300px;
    min-width: 200px;

    .tracklist-table {
        border-spacing: 0px;
        width: 100%;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        >tbody {
            >tr {
                margin: 0px;

                >td {
                    padding: 2px;
                    margin: 0px;
                    border-bottom: 1px solid;
                    border-color: #AAAAAA;
                }
            }
            >tr:nth-child(odd) {
                background-color: #EEEEEE;
            }
            >tr:nth-child(even) {
                background-color: #DDDDDD;
            }
            >tr:hover {
                background-color: #CCCCDF;
            }
            >tr.selected {
                background-color: green;
            }
            >tr.playing {
                background-color: #BBBBFF;
            }
            >tr.playing:hover {
                background-color: #AAAAFF;
            }
        }
    }
}

