body {
    margin: 0px;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
}

.header {
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
    height: 60px;
    width: 100%;
    border-color: #DDDDDD;
    flex: 0 1 auto;
}

.header-content {
    vertical-align: middle;
}

.content {
    display: flex;
    flex: 1 100%;
}

footer {
    flex: 0 1 auto;
    background-color: lightblue;
}

.nav-panel {
    flex: 0 1 auto;
    width: 200px;
    border-right: 1px solid;
    overflow: auto;
}

.center-panel {
    flex: 1 1 auto;
    background-color: #EEEEF9;
}

.tracklist {
    flex: 0 1 auto;
    overflow: auto;
    border-left: 1px solid;
}

.tracklist-table>tbody>tr>td {
    border: 1px;
    border-color: #DDDDDD;
    padding: 2px;
}

.tracklist-table>tbody>tr {
    border-color: #CCCCCC;
    border-width: 1px;
}

.tracklist-table>tbody>tr:nth-child(odd) {
    background-color: #EEEEEE;
}

.tracklist-table>tbody>tr:nth-child(even) {
    background-color: #DDDDDD;
}
