.tracklist {
    flex: 0 1 auto;
    overflow: auto;
    border-left: 1px solid;
    height: 100%;
    max-width: 300px;

    .tracklist-table {
        border-spacing: 0px;

        >tbody {
            >tr {
                margin: 0px;

                >td {
                    padding: 2px;
                    margin: 0px;
                    border-bottom: 1px solid;
                    border-color: #AAAAAA;
                }
            }
            >tr:nth-child(odd) {
                background-color: #EEEEEE;
            }
            >tr:nth-child(even) {
                background-color: #DDDDDD;
            }
            >tr:hover {
                background-color: #CCCCDF;
            }

        }
    }
}

